:root{
    --primary-color: #4CAF50;
    --secondary-color1: #f0f0f0;
    --text-color: #333;
    --background-color: #fff;
    --black-color: #000;
    --Yellow-color: #cc9900;
    --text-color2: #ffffff66;
    --secondary-color2: #101014;
    --secondary-colo: #09090b;
;
}




.rentals-main-container {
  padding: 60px 15%;
  background-color: var(--secondary-color2);
}

.subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
   letter-spacing:4px;
  font-size:12px;

}


.subtitle h1{
  font-size:40px;
  margin:10px 0;
  color: var(--background-color);
}

.subtitle span{
  color:var(--Yellow-color);
}

.heading p{
  color: var(--text-color2);
  font-size: 1.2rem;
  max-width: 600px;
}
.rentals-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 40px 0;
}

.rental-card {
  background: var(--secondary-color3);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  overflow: hidden;
  transition: 0.3s ease;
  border: solid 1px #ffffff66;
  color: var(--text-color2);
}

.rental-card:hover {
  transform: translateY(-5px);
}
.rental-card button{
  background: var(--Yellow-color);
  color: var(--black-color);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}
.rentals-detail h3{
  color: var(--secondary-color);
  font-size: 1rem;
}
.rental-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.rentals-detail {
  padding: 10px;
}

.rental-d {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.book-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-price button {
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
}


.view-all-house{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.view-all-house button{
  
    padding: 10px 20px;
    background-color: var(--Yellow-color);
    color: var(--text-color);
border: none;
height: 6vh;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}






/* GRID (default) */
.rental-card.grid {
  display: block;
}

/* LIST VIEW */
.rental-card.list {
  display: flex;
  flex-direction: row;
  height: 180px;
}

/* Image behavior */
.rental-card.list img {
  width: 250px;
  height: 100%;
  object-fit: cover;
}

/* Content side */
.rental-card.list .rentals-detail {
  flex: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Improve spacing */
.rental-card.list .rental-d {
  justify-content: flex-start;
  gap: 20px;
}

/* Button alignment */
.rental-card.list .book-price {
  justify-content: space-between;
}.rental-card {
  transition: all 0.3s ease;
}


/* Responsive */

@media (max-width: 1024px) {
  .rentals-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .rentals-container {
    grid-template-columns: 1fr;
  }
}