:root{
    --primary-color: #4CAF50;
    --secondary-color: #f0f0f0;
    --text-color: #333;
    --background-color: #fff;
    --black-color: #000;
    --Yellow-color: #cc9900;
    --text-color2: #ffffff66;
    --secondary-color2: #111116;
    --secondary-color3: #111116;
;
}