:root{
    --primary-color: #4CAF50;
    --secondary-color1: #f0f0f0;
    --text-color: #333;
    --background-color: #fff;
    --black-color: #000;
    --Yellow-color: #cc9900;
    --text-color2: #ffffff66;
    --secondary-color2: #111116;
    --secondary-colo: #09090b;
;
}
.about-section{
  width:100%;
  padding:80px 15%;
  background:var(--secondary-colo);
  color:white;
}

/* header */

.about-header{
  text-align:center;
  max-width:750px;
  margin:auto;
}

.subtitle{
  letter-spacing:4px;
  font-size:12px;
  color:var(--Yellow-color);
}

.about-header h1{
  font-size:40px;
  margin:10px 0;
}

.subtitle span{
  color:var(--Yellow-color);
}

.about-header p{
  font-size:15px;
  color:var(--text-color2);
  line-height:1.6;
}

/* cards */

.about-cards{
  margin-top:60px;
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:30px;
}

.about-card{
  border:1px solid #1f1f25;
  border-radius:16px;
  padding:30px;
  background:#0f0f13;
}

.about-card h4{
  color:var(--Yellow-color);
  margin-bottom:10px;
}

.about-card p{
  color:#cfcfcf;
  font-size:14px;
  line-height:1.6;
}

.stats-section{
  width:100%;
  padding:60px 0;
  
}

.stats-container{
width: 100%;
  margin:auto;
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:20px;
  text-align:center;
}

.stat{
  position:relative;
  padding:20px;
}

/* vertical divider */
.stat:not(:last-child)::after{
  content:"";
  position:absolute;
  right:0;
  top:20%;
  height:60%;
  width:1px;
  background:#ddd;
}

.counter{
  font-size:36px;
  font-weight:700;
  color:#222;
}

.stat p{
  font-size:14px;
  color:#666;
  margin-top:6px;
}


@media (max-width:768px){
.about-cards{
  grid-template-columns: 1fr;
}
.stats-container{
  grid-template-columns:1fr;
}

.stat::after{
  display:none;
}

}